article
    text-align: left
    line-height: 2rem

    @media screen and (min-width: 1024px)
        width: 80%
        margin: 0 auto

    @media screen and (min-width: 1280px)
        width: 60%

    h1
        line-height: 2.5rem

    p
        margin-bottom: 2rem
