{{ partial "top.html" . }}
{{ partial "header.html" . }}

<main>
    <p>Here's a selection of the work I've completed, both freelance and with companies.</p>
    <p>There's a lot more to come here, but I've not finished writing it all up yet!</p>

    <ol class="article-panes">
        {{ range .Data.Pages.ByDate.Reverse }}
        <li>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>{{ .Params.strap }}</p>
            <aside class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</aside>
        </li>
        {{ end }}
    </ol>

</main>

{{ partial "bottom.html" . }}
