html
    font-size: 18px

body
    background-color: #ccc
    line-height: 1.4
    font-family: 'AvertaStd-Light'
    display: flex
    min-height: 100vh
    flex-direction: column

.container
    flex: 1
    background-color: white
    text-align: center
    padding: 0 2rem

    @media screen and (min-width: 640px)
        margin: 0 2rem

ul
    margin: 0
    padding: 0

p
    margin-bottom: 1rem

a, a:visited
    color: #00bd98
    text-decoration: none

a:hover
    text-decoration: underline
