body
    font-family: $font
    line-height: 1.4

main
    margin: 0 auto
    line-height: 2rem

h1, h2, h3, h4, h5, h6, strong
    font-weight: normal
    font-family: $font-headings

    > em
        font-family: $font-italic-bold

p
    margin-bottom: 1rem

a, a:visited
    transition: color 0.2s
    color: $link-color
    text-decoration: none

    &:hover
        text-decoration: none

pre, code
    font-family: $font-monospace
    font-size: 0.8rem
    background-color: $code-background
    padding: 0 4px

.highlight
    background-color: transparent !important

    pre
        overflow: scroll
        margin: 0 1rem
        padding: 0.5rem 1rem
        line-height: 2.2
        font-size: 0.65rem

    code
        background-color: transparent

    span
        line-height: 2.2

em, blockquote
    font-style: normal
    font-family: $font-italic

blockquote
    border-left: 5px solid $subtle-color
    padding-left: 1rem

aside
    font-size: 0.75rem
    color: darken($subtle-color, 25%)

