//---------
// Fonts
//---------
$font: 'AvertaStd-Light', 'Avenir-Light', 'HelveticaNeue-Light', sans-serif
$font-italic: 'AvertaStd-LightItalic', 'Avenir-LightOblique', 'HelveticaNeue-LightItalic', sans-serif
$font-headings: 'AvertaStd-Regular', 'Avenir-Medium', 'HelveticaNeue-Medium', sans-serif
$font-monospace: Consolas, 'Liberation Mono', Menlo, Courier, monospace
$font-h1: 'VeneerThree', sans-serif

//---------
// Colors
//---------
$text-color: #222244
$lighter-text-color: #8888AA
$subtle-color: #eaeae8
$code-background: #fefbf1
$brand-color: #00ffcc
$link-color: #00bd98
