{{ partial "top.html" . }}

{{ partial "jumbotron.html" . }}

    <main>
        <section class="freetext">
            {{ range where .Data.Pages "Title" "Home" }}
                    {{ .Content }}
            {{ end }}
        </section>

        {{ $.Scratch.Set "title" "Articles" }}
        {{ $.Scratch.Set "section" "articles" }}
        {{ partial "section.html" . }}

        {{ $.Scratch.Set "title" "Work" }}
        {{ $.Scratch.Set "section" "work" }}
        {{ partial "section.html" . }}
    </main>

{{ partial "bottom.html" . }}
