{{ partial "top.html" . }}

{{ partial "jumbotron.html" . }}

    <main>
        <section>
            <h1>
                {{ .Site.Params.About.Title }}
            </h1>

            <p>
                {{ .Site.Params.About.Text }}
            </p>
        </section>

        {{ $.Scratch.Set "title" "Articles" }}
        {{ $.Scratch.Set "section" "articles" }}
        {{ partial "section.html" . }}

        {{ $.Scratch.Set "title" "Work" }}
        {{ $.Scratch.Set "section" "work" }}
        {{ partial "section.html" . }}
    </main>

{{ partial "bottom.html" . }}
